<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a mat-button [routerLink]="['/']"><span class="title">Interview Prep</span></a>
        <a mat-button *ngIf="user" [routerLink]="['/courses']">Courses</a>
        <a mat-button [routerLink]="['/about']">About</a>
        <span class="spacer"></span>
        <a *ngIf="!user" mat-button [routerLink]="['/login']">Login</a>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="user">
            <img src="{{user.photoUrl}}" class="userimage">
            <span class="username">{{user.name}}</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/profile']">
                <mat-icon>account_circle</mat-icon>
                <span>Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>highlight_off</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>