.spacer {
    flex: 1 1 auto;
}

.userimage {
    height:40px;
    border-radius: 20px;
}

.leftmargin {
    margin-left:10px;
}

.title {
    font-size: 2em;
}

.sidenav-container {
      display: flex;
      flex-direction: column;
      
}

.footer {
   background-color: #333333;
   color:white;
   padding: 15px;
}



.footer mat-toolbar-row {
   justify-content: center;
}