.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  object-fit: contain;
}

.card {
  width: 20rem;
  margin: 0 auto;
  margin-top: 100px;
}

.signintext {
  margin-right:10px;
}

.center {
  text-align: center;
  justify-content: center;
}