
@import 'src/theme.scss';

$primary: map-get($interview-app-theme, primary);
$accent: map-get($interview-app-theme, accent);

.headtext {
   position:relative;
   margin: 0 auto;
   text-align: center;
   animation: panfrombottom 500ms ease-out forwards;
   margin-bottom:50px;
}

 .intro {
    justify-content: center;
    text-align:center; 
    margin:0 auto
 }

 button span {
    margin-left:10px;
 }

@keyframes panfromtop {
   0% { top: -50px; opacity: 0;}
   100% { top: 0px; opacity: 1.0}
}

@keyframes panfrombottom {
   0% { top: 50px; opacity: 0;}
   100% { top: 0px; opacity: 1.0}
}

 .avatar {
    position:relative;
    margin: 0 10px;
    height: auto;
    width:90%;
    max-width:785px;
    text-align: center;
    animation: panfromtop 500ms ease-out forwards;
 }

 .courses {
    background-color: mat-color($primary, 50);
 }

 .courses h1 {
    padding-top:50px;
 }

 .separator {
    border-bottom: 3px solid grey;
    width:100px;
    height:5px;
    margin:0 auto;
 }

 mat-card-header {
    justify-content: center;
    text-align: center;
 }

 .courses mat-icon {
    font-size: 2em;
 }

 .leadtext {
   font-weight:300; 
   max-width:700px;
   margin: 0 auto;
   padding-top:20px;
 }

 .categories {
    padding:50px 0 50px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: top;
 }






