.headtext {
   width:30em;
   margin: 0 auto;
   text-align: left;
}

p.typetext {
   font-size: 40px;
   margin: 10px 0 0 10px;
   white-space: nowrap;
   overflow: hidden;
   width: 100%;
   animation: type 2s steps(60, end); 
 }
 
 p.typetext:nth-child(2){
   animation: type2 4s steps(60, end);
 }
 
 
 .blink {
   animation: blink 1s infinite;
 }
 
 @keyframes type{ 
   from { width: 0; } 
 } 
 
 @keyframes type2{
   0%{width: 0;}
   50%{width: 0;}
   100%{ width: 100; } 
 } 
 
 @keyframes blink{
   to{opacity: .0;}
 }
 
 ::selection{
   background: black;
 }