<mat-card class="testimonial">
   <div class="testimonial-header">
         <img class="testimonial-image" mat-card-image src="{{data.image}}" alt="picture of user">
   </div>
   
   <mat-card-title>{{data.name}}</mat-card-title>
   <mat-card-subtitle>{{data.affiliation}}</mat-card-subtitle>
   <mat-card-content class="testimonial-content">
      <p class="mat-h4" matTooltip="{{formattedTooltip(data.text)}}">
         <mat-icon class="flip">format_quote</mat-icon>
         
         {{formattedText(data.text)}}
      </p>
   </mat-card-content>
</mat-card>