@import 'src/theme.scss';

$primary: map-get($interview-app-theme, primary);
$accent: map-get($interview-app-theme, accent);
$background: map-get($interview-app-theme, background);

.container {
   text-align: center;
}

.filter-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-bottom:50px;
}

.formfield {
   max-width:400px;
   margin: 5px 10px;
   background-color: transparent;
}

mat-checkbox.formfield {
   padding-top: 15px;
}



.mainicon {
   height:60px;
   width:60px;
   font-size:60px;
   margin: 0 auto;
}

.heading {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   position:relative;
   background-repeat:no-repeat;
}

.lessonimage {
   background-repeat: no-repeat;
   background-size: cover;
   position:absolute;
   height:490px;
   width:100%;
   top:0px;
   left:0px;
   z-index: -10;
   filter:blur(5px);
}

.gradient {
   width:100%;
   height:500px;
   position:absolute;
   top:0px;
   left:0px;
   z-index: -5;
   background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0.5), mat-color($background, 'background') 90%)
}

.toppart {
   margin-top: -50px;
   padding-top: 50px;
}

table {
    width: 100%;
    text-align: left;
    background-color: transparent !important;
}

.mat-form-field {
    font-size: 14px;
    width: 400px;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    margin:10px 2%;
    padding:0 2%;
    flex-wrap: wrap;
    flex-direction: row;
}

.paging {
    width: 400px;
    background: transparent;
}



.mat-elevation-z8 {
    margin:0 3%;
    padding:0 3%;
    border-radius: 15px;
    background-color: transparent;
}


