@import 'src/theme.scss';

$primary: map-get($interview-app-theme, primary);
$accent: map-get($interview-app-theme, accent);
$background: map-get($interview-app-theme, background);

.full-width-dialog .mat-dialog-container {
    max-width: 100vw !important;
  }

  table, th,td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,td {
    padding-left: 10%;
    padding-right: 10%;
  }
  table {
    align-self: center;
  }

  textarea{
    margin-top: -2px;
    margin-bottom: -2px;
    height: 232px;
  }