<div class="testimonial-container">
   <button mat-icon-button style="margin-left:10px;" (click)="scrollprevious()" [disabled]="!canscrollprevious()">
      <mat-icon>arrow_back_ios</mat-icon>
   </button>
   <virtual-scroller #scroll [items]="testimonials" horizontal="true" modifyOverflowStyleOfParentScroll="false">
      <testimonial *ngFor="let testimonial of scroll.viewPortItems;let i=index;" [data]="testimonial"></testimonial>
   </virtual-scroller>
   <button mat-icon-button style="margin-right:10px;" (click)="scrollnext()" [disabled]="!canscrollnext()">
      <mat-icon>arrow_forward_ios</mat-icon>
   </button>
</div>